# Hypothesis testing - CustomerOrderForm data

In [1]:
Ho = 'the defective % varies by centre'
Ha = 'the defective % does not varies by centre'

In [17]:
import pandas as pd
import numpy as np
from scipy import stats

In [4]:
customer_data = pd.read_csv(r'/home/suraj/Downloads/Assignments/Assignment-3/Costomer+OrderForm.csv')
customer_data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [5]:
customer_data['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [6]:
customer_data['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [7]:
customer_data['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [8]:
customer_data['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [21]:
observation_data = np.array([[271,267,269,280],[29,33,31,20]])
observation_data

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

### As the data is related to each other we use paired T test

In [23]:
T_test = stats.chi2_contingency(observation_data)
T_test

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [24]:
chi2,P_val,dof,expected = T_test

In [25]:
if P_val < 0.05:
    print('We reject null hypothesis :',Ho)
else:
    print('We do not reject null hypothesis :',Ha)

We do not reject null hypothesis : the defective % does not varies by centre